.All_card{
    padding: 1rem;  
} 
.card-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    margin: 1.5rem;
    margin-bottom: 0;
    
}
.Card-poke-all{
    width: 100%;
    max-width: 400px;
    border-radius: 15px;
    cursor: pointer;
    box-shadow: 8px 10px 20px rgba(0, 0, 0, 0.25);
    transition: 0.4s ease;
    padding: 2rem;
    border: 10px outset;
    border-color:  rgb(226, 200, 24, 0.8) ;
    ;
    padding-bottom: 0;
}
.Card-poke-all:hover {
    transform: translateY(-10px);
    transform-origin: center;
    transition: 0.4s ease;
}
.Card-poke-all:active {
    transform: perspective(100px) scale3d(0, 0.1, 0.1) skew(5deg, 2deg);
    transform-origin: center;
    transition: 0.5s;
}
.card-poke_header {
    height: 280px;
    background-image: linear-gradient(rgba(83, 85, 90, 0.3), rgba(83, 85, 90, 0.3)), url(/public/ball2.1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin-bottom: 65px;
    z-index: 1000;
}

.card-poke_sprite {
    width: 65%;
    position: absolute;
    top: 40px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;
    filter: brightness(1.1);
}
.card-poke_body {
    margin-bottom: 30px;
}
.card-poke_name {
    text-transform: capitalize;
    text-align: center;
    font-size: 4rem;
    font-weight: 900;
    font-family: 'Londrina Sketch', cursive;
    color: rgb(232, 207, 13);
    text-shadow:8px 5px 10px  rgb(2, 10, 125);
}
.card-poke_type {
    font-size: 17;
    text-transform: capitalize;
    position: relative;
}
.card-poke__type-label {
    text-align: center;
    font-size: 13px;
    color: #999;
}
.card-poke_stats-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px 5px;
    justify-content: center;
    padding: 0 5px 35px;
}
.card-poke_stat {
    display: flex;
    gap: 5px;
    flex-direction: column;
    align-items: center;
}
.card-poke_stat-label {
    color: black;
    text-transform: uppercase;
    font-size: 12px;
}
.card-poke_stat-number {
    font-size: 18px;
    padding-left: 1rem;
}
.card-poke_types-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.2rem;
    font-size: 25px;
    font-weight: 700;
    font-family: serif;
    color: rgb(2, 10, 125, 0.8);
    text-shadow:8px 5px 10px  rgb(220, 195, 7);

}
.card-poke_stats-container{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.card-poke_stat{
    border: 1px solid black;
    height: 20px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    
}
.card-poke-bar{
    position: absolute;
    left:0;
    padding-left: 1rem;
    background-image: radial-gradient(circle at 71.87% 42.04%, #ffff35 0, #e2c818 50%, #a48a00 100%);
    border-color:#e2c818;  
    height: 20px;
}

/* Colors Pokemon Card  */
.target{
    color: rgba(223, 234, 62, 0.5);

}
