.card-poke{
    width: 100%;
    max-width: 400px;
    border-radius: 13px;
    overflow: hidden;
    border-width: 10px;
    border-style: solid;
    border-color: black;
}

.card-poke_header{
    height: 140px;
    background-color: green;
    position: relative;
    margin-bottom: 65px;
}
.card-poke_sprite{
    width: 60%;
    position: absolute;
    top: 40px;
    left: 50%;
    transform: translate(-50%);
}
.card-poke_body{
    margin-bottom: 30px;
}
.card-poke_name{
    text-transform: capitalize;
    text-align: center;
    font-size: 2rem;
    font-weight: 500;
}
.card-poke_types-container{
    display: flex;
    justify-content: center;
    gap: 15px;
}
.card-poke_type{
    font-size: 17px;
    text-transform: capitalize;
    position: relative;
}
.card-poke_type:nth-child(2)::before{
    content: '/';
    position: absolute;
    left: -10px;
}
.card-poke_type-label{
    text-align: center;
    font-size: 13px;
    color:#999;
}
.card-poke_stats-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px 5px;
    justify-items: center;
    padding: 0 5px 40px;
}

.card-poke_stat{
    display:flex;
    gap: 5px;
    flex-direction: column;
    align-items: center;
}
.card-poke_stat-label{
    color: #999;
    text-transform: uppercase;
    font-size: 12px;
}
.card-poke_stat-number{
    font-size: 18px;
}


/* Borders Color*/

.border-grass{
    border-color: #c3eecf;
}
.border-fire{
    border-color: #e75C35 ;
}

.border-water{
    border-color: #1479fb;
}

.border-insect{
    border-color: #4AB648
}

.border-water{
    border-color: #1479fb;
}
.border-flying{
    border-color: #735259;
}
.border-struggle{
    border-color: #96402A;
}
.border-poisonous{
    border-color: #5B3184;
}
.border-ghost{
    border-color: #323569;
}
.border-rock{
    border-color: #4F4F4F;
}
.border-ice{
    border-color: #6FBEDF;
}
.border-steel{
    border-color: #5E736C;
}
.border-dragon{
    border-color: #478A93;
}
.border-steel{
    border-color: #5E736C;
}
.border-steel{
    border-color: #5E736C;
}
.border-steel{
    border-color: #5E736C;
}

/* Background Colors*/
.bg-grass{
    background: linear-gradient(178.92deg) #7ec6c5 0.92%, #abdac6 47.96%, #cae099 99.08% ;
}

.bg-fire{
    background: linear-gradient(176.37deg) #f96d6f -32.26% , #e35825 22.55%, #e8ae1b 125.72%;
}
.bg-water{
    background: linear-gradient(179.57deg, #133258 -70.14%, #1479FB 56.16%, #82B2F1 214.85%);
}

.bg-insect{
    background: linear-gradient(177.56deg, #62DB60 -58.92%, #3BB039 16.57%, #AAFFA8 209.53%);
}
.bg-flying{
    background: linear-gradient(181.51deg, #735259 -6.44%, #BC6B7C 121.95%, #7C3F4C 186.11%);
}
.bg-struggle{
    background: linear-gradient(176.83deg, #96402A -8.78%, #F1613C 169.09%, #CB735D 242.33%);
}
.bg-poisonous{
    background: linear-gradient(177.03deg, #5B3184 -11.97%, #A564E3 71.28%, #CE9BFF 135.64%);
}
.bg-ghost{
    background:  linear-gradient(177.03deg, #323569 -11.97%, #454AA8 57.49%, #787DDA 135.64%);
}
.bg-rock{
    background: linear-gradient(177.03deg, #7E7E7E -11.97%, #8D8D94 57.49%, #D3D3D3 135.64%);
}
.bg-ice{
    background: linear-gradient(177.03deg, #6FBEDF -11.97%, #64CBF5 47.77%, #BDEBFE 136.72%)
}
.bg-steel{
    background: linear-gradient(179.75deg, #5E736C -19.96%, #728881 43.67%, #A8A8A8 138.4%);
}
.bg-dragon{
    background: linear-gradient(179.75deg, #478A93 -19.96%, #56A4AE 43.67%, #A2BEC1 138.4%);
}
.bg-water{
    background: linear-gradient(179.57deg, #133258 -70.14%, #1479FB 56.16%, #82B2F1 214.85%);
}
.bg-water{
    background: linear-gradient(179.57deg, #133258 -70.14%, #1479FB 56.16%, #82B2F1 214.85%);
}
.bg-water{
    background: linear-gradient(179.57deg, #133258 -70.14%, #1479FB 56.16%, #82B2F1 214.85%);
}


/* Letter Color*/
.letter-grass{
    color: #416460;
}
.letter-fire{
    color:  #e75C35;
}

.letter-water{
    color: #1479fb;
}
.letter-insect{
    color: #4AB648;
}
.letter-flying{
    color: #735259;
}
.letter-struggle{
    color: #96402A;
}
.letter-poisonous{
    color: #5B3184;
}
.letter-ghost{
    color: #323569;
}
.letter-rock{
    color: #4F4F4F;
}
.letter-ice{
    color: #6FBEDF;
}
.letter-steel{
    color: #5E736C;
}
.letter-dragon{
    color: #478A93;
}
.letter-water{
    color: #1479fb;
}
.letter-water{
    color: #1479fb;
}
.letter-water{
    color: #1479fb;
}


