.input__container{
display: flex;
align-items: center;
justify-content: center;
}

.input__btn {
    padding: 8px;
    width: 20%;
    min-width: 150px;
    height: 45px;
    border-radius: 10px;
    background-image: linear-gradient(to bottom, #8c0303, #970303, #a20203, #ad0203, #b80102, #c10605, #ca0c09, #d3110e, #dc1a17, #e52220, #ef2928, #f83030);    cursor: pointer;
    color: white;
    cursor: pointer;
    transition: filter 200ms ease;
    border: none;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
}
.input__btn:hover {
    filter: brightness(1.2);
    transition: filter 100ms ease;
}

.input__search {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    margin: 0 ;
    padding: 20px;
    width: 75%;
    max-width: 500px;
    height: 30px;
    border:none;
    font-weight: 500;
    font-size: 25px;
    line-height: 29px;
    font-size: 1.5rem;
}