.pagination {
    margin-top: 2rem;
    margin-left: auto;
    margin-right: auto;
    width: max-content;
    display: flex;
    align-items: center;
    gap: 10px;
font-size: 1.5rem;
}

.pagination__container {
    display: flex;
    gap: 5px;
}

.pagination__page,
.pagination__prev,
.pagination__next {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
  
.pagination__active {
    background-image: linear-gradient(to bottom, #8c0303, #970303, #a20203, #ad0203, #b80102, #c10605, #ca0c09, #d3110e, #dc1a17, #e52220, #ef2928, #f83030);    cursor: pointer;
    color: white;
    border-radius: 5px;
}