body{
    background-image: url(/public/wall2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.title_pokedex{
    font-size: 1.5rem;
    font-weight: 500;
}