@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root{
    --color_red:#fe1936;
    --color_white: white;
}


/*-----Reset----*/
*{
    box-sizing: border-box;
}
body{
    margin: 0;
    font-family: 'Inter', sans-serif;
}
header{
    align-items: center;
    text-align: center;
    padding-top: 1rem;
}
h1{
    color: #fe1936;
    font-size: 42px;
}
p{
    padding: 1rem;
    font-size: 18;
}
h1, h2, h3, h4, ul, p{
    margin-top: 0;
    margin-bottom: 0;
}
ul{
    padding-left: 0;
    list-style: none;
}
img{
    width: 100%;
    display: block;
}
a{
    font-family: inherit;
    text-decoration: none;
}

button{
    border: none;
    background-color: #fe1936;
    border-radius: 5px;
    cursor: pointer;
}
input{
    outline: none;
    border: none;
    border-radius: 5px;
    width: 150px;
    margin-bottom: 15px;
    cursor: pointer;
}
select{
    cursor: pointer;
}