.footer{
    background-image: linear-gradient(to bottom, #8c0303, #970303, #a20203, #ad0203, #b80102, #c10605, #ca0c09, #d3110e, #dc1a17, #e52220, #ef2928, #f83030);    cursor: pointer;
    width: 100%;
    height: 100px;
    position: absolute;
    bottom: 0;
    left: 0;
    margin-top: 15rem;
}
.footer_black{
    background-image: linear-gradient(to bottom, #110d0d, #171414, #1d1919, #221f1f, #282424, #2d2929, #332f2f, #383434, #3f3a3a, #454040, #4c4747, #534d4d);    width: 100%;
    height: 40px;
    position: absolute;
    bottom: 0;
    left: 0;
}

.footer_circle{
    width: 80px;
    aspect-ratio: 1;
    position: absolute;
    background-image: linear-gradient(to bottom, #110d0d, #171414, #1d1919, #221f1f, #282424, #2d2929, #332f2f, #383434, #3f3a3a, #454040, #4c4747, #534d4d);    border-radius: 50%;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    border: 0.5px solid black;
}

.footer_circle-int{
    width: 50px;
    aspect-ratio: 1;
    position: absolute;
    background-image: linear-gradient(to bottom, #110d0d, #171414, #1d1919, #221f1f, #282424, #2d2929, #332f2f, #383434, #3f3a3a, #454040, #4c4747, #534d4d);    border-radius: 50%;
    left: 50%;
    transform: translate(-50% , 10px);
    border: 9px solid white;
}