.pokedex_form {
  display: flex;
  align-items: center;
  margin-left: 2%;
  margin-right: 2%;
}

.pokedex_btn {
  text-align: center;
  border-radius: 5px;
  background-image: linear-gradient(
    to bottom,
    #110d0d,
    #171414,
    #1d1919,
    #221f1f,
    #282424,
    #2d2929,
    #332f2f,
    #383434,
    #3f3a3a,
    #454040,
    #4c4747,
    #534d4d
  );
  width: 100%;
  color: white;
  cursor: pointer;
  transition: filter 100ms ease;
  border: none;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
}

.pokedex_btn:hover {
  filter: brightness(1.2);
  transition: filter 100ms ease;
}

.pokedex_input {
  display: block;
  font-family: monospace;
  white-space: nowrap;
  border-right: 4px solid;
  width: 25ch;
  font-weight: 500;
  line-height: 29px;

  /* Duracion de animacion para type machine */
  animation: typing 3s steps(25), blink 0.5s infinite step-end alternate;
  overflow: hidden;
}

@keyframes typing {
  from {
    width: 0;
    border-color: rgb(140, 36, 24);
  }
}

@keyframes blink {
  50% {
    border-color: rgb(228, 225, 225);
    transition: 0.2s;
  }
}
